<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Date input</title>
	</head>
	<body>
		<div style="text-align: center; margin-top: 100px">
			<input type="date">
			{{ DateForm.my_date_field }}
		</div>
	</body>

</html>
