{% extends 'base.html' %}

{% block body %}

<div class = "container">

	<form method="POST">
		<br>
		{% csrf_token %}

		{% for field in form %}
		<div class="form-group row">
			<label for="id_{{ field.name }}" class="col-2 col-form-label"> {{ field.label }} </label>
			<div class="col-10">
			{{ field }}
			
			</div>

		</div>

		{% endfor %}

	<!-- 	<div class="form-group row">
			<label for="" class="col-2 col-form-label"> {{ field.label }} </label>
			<div class="col-10">
			{{ form.status_devices }}
		</div>
	</div>

			<div class="form-group row">
			<label for="" class="col-2 col-form-label"> {{ field.label }} </label>
			<div class="col-10">
			{{ form.primechanie }}

			</div>
	</div>

			<div class="form-group row">
			<label for="" class="col-2 col-form-label"> {{ field.label }} </label>
			<div class="col-10">
			{{ form.who_change }}
			
			</div>
	</div> -->

	
	
    
</div>


		<button type="submit" class="btn btn-primary" name="button"> Подтвердить? </button>

	</form>
</div>


{% endblock %}